<a href="https://colab.research.google.com/github/akshaya6878/python1/blob/main/Module_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Accept input from user and store it in variable and print the value**

In [ ]:
a=20
b=30
c=int(input())
d=int(input())
e=a-(b)+(c)-(d)
print(e)

300
400
-110

**x Use of print statements and use of (.format )for printing different data types.**

In [ ]:
quantity=3
item= 143
price=50
myorder="i want {}pieces of item {} of price {}"
print(myorder.format(quantity,item,price))

i want 3pieces of item 143 of price 50

**Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output**

In [ ]:
a=int(input("enter any number"))
b=int(input("enter any number"))
c=(a+b)
d=(a-b)
e=(a*b)
f=(a/b)
g=(a%b)
print(c)
print(d)
print(e)
print(f)
print(g)

enter any number10
enter any number20
30
-10
200
0.5
10

**Conversion of one unit to another**

In [ ]:
hours = int(input("enter hours:"))
minutes = hours * 60
print(minutes, " Minutes")
km=int(input("enter number of km"))
meter=km*1000
cm=meter*100
print(meter)
print(cm)

Please enter hours:2
120  Minutes
enter number of km200
200000
20000000

**Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,
pow, sqrt etc**

In [ ]:
import math
a=4.567
print(math.ceil(a))
b=-4
print(math.fabs(b))
c=3.67
print(math.floor(c))
d=2**5
print(d)
e=math.sqrt(64)
print(e)

5
4.0
3
32
8.0

**Building a mathematical calculator that can perform operations according to user input.
Use decision making statement.**

In [ ]:
a=2
b=3
print('1="addition",2="subtraction",3="multiplication",4="division"')
c=int(input("enter any number upto 4"))
if c==1:
 print(a+b)
elif c==2:
 print(a-b)
elif c==3:
 print(a*b)
elif c==4:
 print(a/b)
else:
 print(invalid)

1="addition",2="subtraction",3="multiplication",4="division"
enter any number upto 43
6

**Accepting 5 different subject marks from user and displaying the grade of the student.**

In [ ]:
sub1=int(input("enter marks"))
sub2=int(input("enter marks"))
sub3=int(input("enter marks"))
sub4=int(input("enter marks"))
sub5=int(input("enter marks"))
avg=(sub1+sub2+sub3+sub4+sub5)/5
if(avg>=90):
  print("grade A")
elif(avg>=80 and avg<90):
  print("grade B")
elif(avg>=70 and avg<80):
    print("grade C")
elif(avg>=60 and avg<70):
  print("grade D")
else:
    print("grade E")

enter marks90
enter marks80
enter marks99
enter marks89
enter marks98
grade A

**Printing all even numbers, odd numbers, count of even numbers, count of odd numbers**

In [ ]:
a=int(input("enter the first number in the range"))
b=int(input("enter the second number in the range"))
for i in range(a,b):
 if i%2==0:
  print("even numbers are",i)
else:
 print("odd numbers are ",i)

enter the first number in the range30
enter the second number in the range46
even numbers are 30
even numbers are 32
even numbers are 34
even numbers are 36
even numbers are 38
even numbers are 40
even numbers are 42
even numbers are 44
odd numbers are  45

**the factorial of a given number**

In [ ]:
a=int(input("Enter a number"))
factorial = 1 
for i in range(1,a + 1): 
 factorial = factorial*i 
print("The factorial of",a,"is",factorial)

Enter a number4
The factorial of 4 is 24

**gcd of two numbers**

In [ ]:
x =int (input ("Enter the first number: "))   
y =int (input ("Enter the second number: "))  

gcd = 1

for i in range(1, min(x, y)):
    if x % i == 0 and y % i == 0:
        gcd = i
print("GCD of", x, "and", y, "is", gcd)

Enter the first number: 3
Enter the second number: 6
GCD of 3 and 6 is 1

**fibonacci series**

In [ ]:
num = int(input("Enter the Number:"))
n1, n2 = 0, 1
print("Fibonacci Series:", n1, n2, end=" ")
for i in range(2, num):
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    print(n3, end=" ")

print()

Enter the Number:30
Fibonacci Series: 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765 10946 17711 28657 46368 75025 121393 196418 317811 514229

**palindrome number**

In [3]:
 a=int(input("enter the number"))
rev=0
temp=a
while temp>0:
             rem=temp%10
             rev=(rev*10)+rem
             temp=temp//10 
             if a==rev: 
                print("palindrome")
else:
                print("not a plaindrome")

enter the number35
not a plaindrome

**perfect number**

In [ ]:
a=int(input("enter the number"))
sum=0
for i in range (1,a):
  if a%i==0:
    sum=sum+i
    if sum==a:
      print("perfect number")
else:
          print("not a perfect number")

enter the number25
not a perfect number

**compound intetrst using loop**

In [ ]:
import math
p=int(input("enter principle amount"))
t=int(input("enter no of years"))
r=int(input("enter interest amount"))
for i in range(1,t+1):
  si=(p*t*r)/100
  print(i,"yr interest si is",si)
  ci=p*(math.pow(1+r/100,i))
  print(i,"yr interest ci is",ci)

enter principle amount1000
enter no of years6
enter interest amount2
1 yr interest si is 120.0
1 yr interest ci is 1020.0
2 yr interest si is 120.0
2 yr interest ci is 1040.4
3 yr interest si is 120.0
3 yr interest ci is 1061.208
4 yr interest si is 120.0
4 yr interest ci is 1082.43216
5 yr interest si is 120.0
5 yr interest ci is 1104.0808032
6 yr interest si is 120.0
6 yr interest ci is 1126.1624192640002

**STRONG NUMBER**

In [2]:
num=int(input("enter number"))
sum=0
a=num
while (num):
  i=1
  f=1
  r=num %10
  while(i<=r):
    f=f*i
    i=i+1
    sum=sum+f
    num=num//10
    if (sum==a):
      print("strong number")
    else:
        print("not a strong number")

enter number35
not a strong number
not a strong number
not a strong number
not a strong number
not a strong number