<a href="https://colab.research.google.com/github/akshaya6878/python1/blob/main/module2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Create a function which accepts two inputs from the user and compute n
Cr**

In [ ]:
def nCr(n, r):
  return (fact(n)/(fact(r)*fact(n-r)))
n=int(input("enter value of n"))
r=int(input("enter value of r"))
def fact(n):
   res=1
   for i in range(2,n+1):
      res=res*i
   return res
print(int(nCr(n, r)))

enter value of n6
enter value of r3
20

**Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']**

In [ ]:
list =['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
unwanted_list=["Red","Pink","Yellow"]
list=[x for x in list if x not in unwanted_list]
print(list)

['Green', 'White', 'Black']

**Program to get the difference between the two lists**

In [13]:
colours=["red","green","white","orange"]
y=set(colours)
fruits=["orange","apple","cherry","mango"]
z=set(fruits)
a=y.difference(z)
diif=list(a)
print(diff)

TypeError: ignored

**x Program to find the second smallest number and second largest number in a list.**

In [ ]:
list=[4,26,73,92,1,0]
length=len(list)
list.sort()
print("second largest",list[length-2])
print("second smallest",list[1])

second largest 73
second smallest 1

**x Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the 
number**

In [2]:
list = [15, 20, 25, 30, 35, 40]
print("list ")
print(list)
print("Tuple")
result = [(val, pow(val, 2)) for val in list]
print(result)

list
[15, 20, 25, 30, 35, 40]
Tuple
[(15, 225), (20, 400), (25, 625), (30, 900), (35, 1225), (40, 1600)]

**Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2**

In [3]:
list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
print("list " + str(list))
K = 2
res = [x for x in list if len(x) != z]
print("New list " + str(res))

list [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
New list [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

**Program to generate and print a dictionary that contains a number (between 1 
and n) in the form (x, x*x). 
Sample Input: (n=5) : 
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}**

In [4]:
n=int(input("input any number "))
d = dict()
for x in range(1,n+1):
    d[x]=x*x

print(d)

input any number 4
{1: 1, 2: 4, 3: 9, 4: 16}

**Program for Counting occurrence of a certain element in a string, getting indexes that 
have matching elements.For ex -.In Rabbit count how many times b has occurred . 
Example-I have to go to a doctor and get myself checked. Count the number of 
occXrrences of**

In [10]:
def count(l, m) :
    res = 0
    for i in range(len(l)) :
        if (l[i] ==m ):
            res = res + 1
    return res
string= "Rabbit"
m= 'b'
print(count(string, m))

2

**Given a list of numbers of list, write a Python program to create a list of tuples 
having first element as the number and second element as the square of the 
number.**

In [11]:
list = [5, 6, 7, 8, 9, 10]
print("list")
print(list)
print("Tuple")
result = [(val, pow(val, 2)) for val in list]
print(result)

list
[5, 6, 7, 8, 9, 10]
Tuple
[(5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)]

**Program for replacing one substring by another For example - Rabbit - Replace bb by cc**

In [12]:
def replace(input, pattern, replaceWith):
    return input.replace(pattern, replaceWith)
if  __name__ == "__main__":
    input   = 'Rabbit'
    pattern = 'bb'
    replaceWith = 'cc'
    print (replace(input,pattern,replaceWith))

Raccit

**Program to Acronym generator for any user input (ex-input is Random memory access 
then output should be RMA).Example - Random number (RN)**

In [ ]:
input = input("Enter a phrase: ")
phrase = (input.replace('of', '')).split()
a = ""
for word in phrase:
    a = a + word[0].upper()
print(f'Acronym of {input} is {a}')

Enter a phrase: My Name Is Akshaya
Acronym of My Name Is Akshaya is MNIA

**Python function that accepts a string and calculates the number of uppercase  letters and lowercase letters.**

In [ ]:
def LIST(s):
    x={"UPPER CASE":0, "LOWER CASE":0}
    for c in s:
        if c.isupper():
           x["UPPER CASE"]+=1
        elif c.islower():
           x["LOWER CASE"]+=1
        else:
           pass
    print ("INPUT : ", s)
    print ("UPPER CASE : ", x["UPPER CASE"])
    print ("LOWER CASE : ", x["LOWER CASE"])
LIST('My Name Is Akshaya')

INPUT :  My Name Is Akshaya
UPPER CASE :  4
LOWER CASE :  11

**Program to count the number of strings where the string length is 2 or more and 
the first and last character are same from a given list of strings 
x Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2**

In [ ]:
def words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(words(['abc', 'xyz', 'aba', '1221']))

2

**Program to get the maximum and minimum value in a dictionary.**

In [ ]:
dictionary={'a':34,'b':26,'c':22}
maximum=max(dictionary, key=dictionary.get)
minimum=min(dictionary, key=dictionary.get)
print(dictionary.get(maximum))
print(dictionary.get(minimum))

34
22

**Remove a key from a dictionary.**

In [ ]:
dictionary = {'Akshaya':1,'Akanksha':2,'Akash':3}
print(dictionary)
if 'Akshaya' in dictionary: 
    del dictionary['Akshaya']
print(dictionary)

{'Akshaya': 1, 'Akanksha': 2, 'Akash': 3}
{'Akanksha': 2, 'Akash': 3}

**Recursive function to compute GCD of 2 numbers**

In [32]:
def GCD(a,b):
    r=a%b
    if(r==0):
        return b
    else:
        return GCD(b,r)
        p= int(input("Enter number"))
        q= int(input("Enter number "))
        print("GCD is", GCD(p,q))

**Recursive function to find product of two numbers**

In [31]:
def product(num1,num2):
    if(num1<num2):
        return product(num2,num1)
    elif(num2!=0):
         return(num1+product(num1,num2-1))
    else:
         return 0
         num1=int(input("Enter first number: "))
         num2=int(input("Enter second number: "))
         print("product is ",product(num1,num2))

**Recursive function to generate Fibonacci series**

In [53]:
def fibonacci(n):
    if(n <= 1):
        return n
    else:
        return(fibonacci(n-1) + fibonacci(n-2))
    n = int(input("Enter number of terms:"))
print("Fibonacci sequence:")
for i in range(n):
    print(fibonacci(i))

Fibonacci sequence:
0
1
1
2