<a href="https://colab.research.google.com/github/akshaya6878/python1/blob/main/MONANGI_AKSHAYA_VU21CSEN0101065.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## AVG OF THREE NUMBERS

In [2]:
a=10
b=20
c=30
avg=(a+b+c)/3
print(avg)
print(type(avg))

20.0
<class 'float'>

## MULTIPLICATION OF THREE NUMBERS

In [1]:
a=10
b=20
c=30
multi=(a*b*c)
print(multi)
print(type(multi))

6000
<class 'int'>

## DYNAMIC ADDITION

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
add=(a+b)
print(add)
print(type(add))

enter a number2
enter a number4
6
<class 'int'>

## DYNAMIC MULTIPLICATION

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
multi=(a*b)
print(multi)
print(type(multi))

enter a number3
enter a number4
12
<class 'int'>

## dynamic average

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
c=int(input("enter a number"))
avg=(a+b+c)/3
print(avg)
print(type(avg))

enter a number10
enter a number20
enter a number30
20.0
<class 'float'>

# CONVERSIONS

# # convert int to float

In [ ]:
a=10
print(type(a))
b=float(a)
print(b)

<class 'int'>
10.0

# # convert float to int

In [ ]:
a=14.3
print(type(a))
b=int(a)
print(b)

<class 'float'>
14

# # convert int to string

In [ ]:
a=12
print(type(a))
b=str(a)
print(b)
print(type(b))

<class 'int'>
12
<class 'str'>

# # convert float to string

In [ ]:
a=14.3
print(type(a))
b=str(a)
print(b)
print(type(b))

<class 'float'>
14.3
<class 'str'>

# # convert string to int

In [ ]:
## not possible only if values given in alphabets
a=akshaya
print(type(a))
b=int(a)
print(b)
print(type(b))

NameError: name 'akshaya' is not defined

# # boolean

In [ ]:
a=21
print(bool(a))
print(type(a))

True
<class 'int'>

## boolean to int

In [ ]:
a=bool(0)

b=int(bool(a))
print(b)
print(type(b))

0
<class 'int'>

## boolean to float

In [ ]:
a=bool(21)
b=float(bool(a))
print(b)
print(type(b))

1.0
<class 'float'>

## boolean to string

In [ ]:
a=11111
print(bool(a))
b=str(bool(a))
print(b)
print(type(b))

True
True
<class 'str'>

## example in boolean

In [ ]:
a=5
b=10
c=bool(a>b)
print(c)
print(type(c))

False
<class 'bool'>

# COMPLEX

In [ ]:
a=10+2j
print(type(a))

<class 'complex'>

## complex to int

In [ ]:
a=10+2j